{% extends "index.html" %}

{% block title %}Добавить актив{% endblock %}

{% block content %}
{% if complite %}
<div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Получилось!</strong> Актив добавлен! {{ count }}
</div>
{% endif %}
<div class="row">
    <div class="col-lg-5">
        <form role="form">

            <fieldset>
                <div class="form-group">
                    <label >Тип</label>
                    <select id="type" name="type" class="form-control input-sm">
                        <option value="">---</option>
                        {% for type in types %}
                        <option value="{{ type.id }}">{{ type.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label >Актив</label>
                    <select id="asset" name="asset" class="form-control input-sm">
                        <option value="">---</option>
                        {% for asset in assets %}
                        <option value="{{ asset.id }}" class="{{ asset.id_type_id }}">{{ asset|truncatechars:50 }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label >Статус</label>
                    <select id="status" name="status" class="form-control input-sm">
                        {#
                        <option value="">---</option>
                        #}
                        {% for status in statuss %}
                        <option value="{{ status.id }}" class="{{ status.id  }}">{{ status }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label >Местоположение</label>
                    <select id="location" name="location" class="form-control input-sm">
                        {#
                        <option value="">---</option>
                        #}
                        {% for location in locations %}
                        <option value="{{ location.id }}" class="{{ location.id }}">{{ location }}</option>
                        {% endfor %}
                    </select>
                </div>
                <p>Номер: <input type="text" name="number" id="number" class="form-control"/></p>

                <p>Примечание: <textarea name="note" id="note" class="form-control"></textarea></p>

                <p>
                    <button type="submit" formaction="add.html" formmethod="get"
                            class="btn btn-info">Добавить
                    </button>
                </p>
        </form>
    </div>
        <div class="col-lg-5 col-md-push-2" >


        <table class="table table-hover">
            <label for="exampleInputEmail1">Недавно добавленные:</label>
        {% for asset in lastAsset %}
        <tr>
            <td><a href="/asset/?asset_id={{ asset.id }}"><i>{{ asset.id_unit }} </i></a></td>
        </tr>
        {% endfor %}
    </table>
    </div>

</div>
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery("#asset").chained("#type");
    });
</script>
{% endblock %}