{% extends "index.html" %}

{% block title %}Все активы{% endblock %}

{% block content %}
<br>
{% if saveChanges %}
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Получилось!</strong> Изменения сохранены!
    </div>
{% endif %}
<div class="row">
    <div class="col-lg-5 col-md-push-2">
    <form role="form" action="asset.html" method="get">
            <div class="form-group">
                <label>ID:</label>
                <input type="hidden" name="hidden_id" value="{{ a.id }}">
                <input type="text" id="id" name="id" class="form-control" placeholder="{{ a.id }}" disabled>
            </div>
            <div class="form-group">
                <label>Тип:</label>
                <input type="text" id="id_type" name="id_type" class="form-control" placeholder="{{ a.id_type }}" disabled>
            </div>
            <div class="form-group">
                <label>Актив:</label>
                <input type="text" name="id_unit" class="form-control" placeholder="{{ a.id_unit }}" disabled>
            </div>
            <div class="form-group">
                <label>Статус:</label>
                <select class="form-control input-sm" id="id_status" name="id_status">
                    <option value="{{ status.id  }}" >{{ a.id_status }}</option>
                        {% for status in statuses %}
                            {% if status != a.id_status %}
                                <option value="{{ status.id }}" class="{{ status.id  }}">{{ status }}</option>
                            {% endif %}
                        {% endfor %}
                 </select>
            </div>
            <div class="form-group">
                <label>Местоположение:</label>
                <select id="id_location" name="id_location" class="form-control input-sm">
                    <option value="{{ location.id }}">{{ a.id_location }}</option>
                        {% for location in locations %}
                            {% if location != a.id_location %}
                                <option value="{{ location.id }}" class="{{ location.id }}">{{ location }}</option>
                            {% endif %}
                        {% endfor %}
                 </select>
            </div>
        <div class="form-group">
            <label>Инвентарный номер:</label>
            <input type="text" name="number" id="number" class="form-control" value="{{ a.number }}" />
            </div>
        <div class="form-group">
            <label>Серийный номер:</label>
            <input type="text" name="serialNumber" id="serialNumber" class="form-control" value="{{ a.serial_number }}" />
                </div>
        <div class="form-group">
            <label">Примечание:</label>
            <textarea name="note" id="note" class="form-control">{{ a.note }}</textarea>
        </div>
    <p><button name="saveChanges" type="submit" class="btn btn-info">Сохранить</button></p>
    </form>

    </div>
    <div class="col-lg-3 col-md-push-3" >
            {% for i in images %}
                    <a data-toggle="modal" href="#{{ i.id }}" ><img src="{{ i.image.url }}" width="188" height="146" ></a>
                      <!-- Modal -->
                      <div class="modal fade" id="{{ i.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">{{ a.id_unit }}</h4>
                            </div>
                            <div class="modal-body" >
                                <img src="{{ i.image.url }}" width="500" height="450">
                            </div>
                            <div class="modal-footer">
                            </div>
                          </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                      </div><!-- /.modal -->
            {% endfor %}

        <table class="table table-hover">
 <label for="exampleInputEmail1">История изменения:</label>
        {% for l in logs %}
        <tr>
            {% if l.action_flag == 1 %}
                <td><img src="/media/image/supermono3dpart293.png" width="21" height="20" >  <i>{{ l.action_time|date:"d.m.Y" }} </i> {{ l.change_message }}</td>

            {% else %}
                <td><img src="/media/image/supermono3d19.png" width="21" height="20" >  <i>{{ l.action_time|date:"d.m.Y" }} </i>  -  {{ l.change_message }}</td>
            {% endif %}
        </tr>
        {% endfor %}

    </table>
    </div>

</div>
<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery("#asset").chained("#type");
    });
</script>
{% endblock %}