<div class="container">

    {#
    <legend>Добавить актив <span class="badge pull-right">{{ count }}</span></legend>
    #}

    <div class="row">
        <div class="col-md-3">
            <form role="form">
                <fieldset>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Тип</label>
                        <select id="type" name="type" class="form-control input-sm">
                            <option value="">---</option>
                                {% for type in types %}
                                    <option value="{{ type.id }}">{{ type.name }}</option>
                                {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Актив</label>
                        <select id="asset" name="asset" class="form-control input-sm">
                            <option value="">---</option>
                                {% for asset in assets %}
                                    <option value="{{ asset.id }}"
                                            class="{{ asset.id_type_id }}">{{ asset|truncatechars:50 }}
                                    </option>
                                {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Статус</label>
                        <select id="status" name="status" class="form-control input-sm">
                            {#
                            <option value="">---</option>
                            #}

                            {% for status in statuss %}
                                <option value="{{ status.id }}" class="{{ status.id }}">{{ status }}</option>
                            {% endfor %}

                        </select>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Статус</label>
                        <select id="location" name="location" class="form-control input-sm">
                            {#
                            <option value="">---</option>
                            #}

                            {% for location in locations %}
                                <option value="{{ location.id }}" class="{{ location.id }}">{{ location }}</option>
                            {% endfor %}

                        </select>
                    </div>

                    <p>Номер: <input type="text" name="number" id="number" class="form-control"/></p>

                    <p>Примечание: <textarea name="note" id="note" class="form-control">
                    </textarea></p>

                    <p>
                        <button type="submit" formaction="/" formmethod="get" data-loading-text="Loading..."
                                class="btn btn-info">Добавить
                        </button>
                    </p>
            </form>
        </div>


        <div class="col-md-9">


            {% if complite %}
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>Получилось!</strong> Актив добавлен!
                </div>
            {% endif %}
            <table class="table table-striped">
                {% for a in asset %}
                    <tr>
                        <td>{{ a.number }}</td>
                        <td>{{ a.id_unit|truncatechars:60 }}</td>
                        {#
                        <td>{{ a.id_status }}</td>
                        #}
                        <td>{{ a.note }}</td>
                        <td>{{ a.id_location }}</td>
                    </tr>
                {% endfor %}

            </table>


        </div>
    </div>


    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery("#asset").chained("#type");
        });
    </script>

</div>


</div>
</body>
</html>