<!DOCTYPE html>
<html>
<head>
    <title>Smart Inventory</title>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://www.appelsiini.net/download/jquery.chained.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/css/bootstrap.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/js/bootstrap.min.js"></script>

<body>

<nav class="navbar" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Smart Inventory</a>
  </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">

        <li class="dropdown">
        <a href="/add/" class="dropdown-toggle" data-toggle="dropdown">Активы<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/list/">Весь список</a></li>
          <li><a href="/add/">Добавить актив</a></li>
          <li><a href="/change/">Изменить актив</a></li>
          <li><a href="/remove/">Удалить актив</a></li>
        </ul>
      </li>

      <ul class="nav navbar-nav">
      <li class="active"><a href="#">В ремонте</a></li>
      <li><a href="#">Отчет</a></li>
      </ul>



    </ul>

       </div>

</nav>



<div class="container">

{#<legend>Добавить актив <span class="badge pull-right">{{ count }}</span></legend>#}

<div class="row">
  <div class="col-md-3"><form role="form">
<fieldset>


        <div class="form-group">
            <label for="exampleInputEmail1">Тип</label>
            <select id="type" name="type" class="form-control input-sm">
                <option value="">---</option>

                    {% for type in types %}
                        <option value="{{ type.id }}">{{ type.name }}</option>
                    {% endfor %}

             </select>
        </div>
        
        <div class="form-group">
            <label for="exampleInputEmail1">Актив</label>
            <select id="asset" name="asset" class="form-control input-sm">
        <option value="">---</option>

            {% for asset in assets %}
                <option value="{{ asset.id }}" class="{{ asset.id_type_id }}">{{ asset|truncatechars:50 }}</option>
            {% endfor %}

             </select>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Статус</label>
            <select id="status" name="status" class="form-control input-sm">
{#        <option value="">---</option>#}

            {% for status in statuss %}
                <option value="{{ status.id }}" class="{{ status.id  }}">{{ status }}</option>
            {% endfor %}

             </select>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Статус</label>
            <select id="location" name="location" class="form-control input-sm">
{#        <option value="">---</option>#}

            {% for location in locations %}
                <option value="{{ location.id }}" class="{{ location.id }}">{{ location }}</option>
            {% endfor %}

             </select>
        </div>

    <p>Номер: <input type="text" name="number" id="number" class="form-control" /></p>

    <p>Примечание: <textarea name="note" id="note" class="form-control">
    </textarea></p>
    <p><button type="submit" formaction="/" formmethod="get" data-loading-text="Loading..."
               class="btn btn-info">Добавить</button></p>
</form></div>


  <div class="col-md-9">


    {% if complite %}
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Получилось!</strong> Актив добавлен!
        </div>
    {% endif %}
    <table class="table table-striped">
        {% for a in asset %}
        <tr>
            <td>{{ a.number }}</td>
            <td>{{ a.id_unit|truncatechars:60 }}</td>
{#            <td>{{ a.id_status }}</td>#}
            <td>{{ a.note }}</td>
            <td>{{ a.id_location }}</td>
        </tr>
        {% endfor %}

    </table>



  </div>
</div>


                            <script type="text/javascript">
                                jQuery(document).ready(function(){
                                         jQuery("#asset").chained("#type");
                                });
                            </script>

              </div>


</div>
</body>
</html>