{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %} - Smin</title>
    <script type="text/javascript" src="{% static 'jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery.chained.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'bootstrap.min.js' %}"></script>

<body>
<nav class="navbar" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Smart Inventory <span class="label label-default">&alpha;</span></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="/add/" class="dropdown-toggle" data-toggle="dropdown">Активы {%block count%}{%endblock%}
                        <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/list/">Весь список</a></li>
                        <li><a href="/add/">Добавить актив</a></li>
                        <li><a href="/remove/">Удалить актив</a></li>
                    </ul>
                </li>
                <li class="active"><a href="/repair/">В ремонте</a></li>
                <li class="active"><a href="/repair/">Картриджи</a></li>
                <li class="dropdown">
                    <a href="/report/" class="dropdown-toggle" data-toggle="dropdown">Отчет<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/report/?r=1" target="_blank">Инвентаризация</a></li>
                            <li><a href="/report/?r=2" target="_blank">Не используется</a></li>
                            <li><a href="/report/?r=3" target="_blank">Принтеры</a></li>
                        </ul>
                </li>
            </ul>
            <form id="s" action="/list/" method="get" class="navbar-form navbar-brand" role="search">

                <div class="col-sm-14">
                    <div class="form-group">
                        <input type="text" class="form-control" name="search">
                    </div>
                    <input type="submit" class="btn btn-default" value="Найти">
                </div>
            </form>
        </div>
    </div>
</nav>

<div class="container">
    {% block content %}

    {% endblock %}
</div>
</body>
</html>