{% extends "index.html" %}

{% block title %}Все активы{% endblock %}
{% block count %}
    <span class="badge">{{ count_asset }}</span>
{% endblock %}
{% block content %}
    <table class="table table-hover">
        <thead>
        <tr>
            <td><b>Номер</b></td>
{#            <td><b>Сериный номер</b></td>#}
            <td><b>Актив</b></td>
            <td><b>Тип</b></td>
            <td><b>Примечание</b></td>
            <td><b>Местоположение</b></td>
        </tr>
        </thead>
        {% for asset in assets %}
        <tr>
            <td><a href="/asset/?asset_id={{ asset.id }}">{{ asset.number }}</a> </td>
{#            <td>{{ asset.serial_number }}</td>#}
            <td>{{ asset.id_unit }}</td>
            <td>{{ asset.id_type }}</td>
            <td>{{ asset.note }}</td>
            <td>{{ asset.id_location }}</td>
        </tr>
        {% endfor %}

    </table>


    <div class="pagination pagination-lg">

        {% if assets.has_previous %}
            <li><a href="?page={{ assets.previous_page_number }}">&laquo;</a></li>
        {% endif %}

        {% for i in pages %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endfor %}
        {% if assets.has_next %}
            <li><a href="?page={{ assets.next_page_number }}">&raquo;</a></li>
        {% endif %}

    </div>

{% endblock %}