{% extends "index.html" %}

{% block title %}Все активы{% endblock %}
{% block count %}
    <span class="badge">{{ count_asset }}</span>
{% endblock %}
{% block content %}

<br>
    <table class="table table-hover">
        <thead>
        <tr>
            <td><b>Номер</b></td>
            <td><b>Актив</b></td>
            <td><b>Тип</b></td>
            <td><b>Статус</b></td>
            <td><b>Дата</b></td>
        </tr>
        </thead>
        {% for asset in assets %}
        <tr>
            <td>{{ asset.number }}</td>
            <td>{{ asset.id_unit }}</td>
            <td>{{ asset.id_type }}</td>
            <td>
            <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ asset.id_status }} <span class="caret"></span></button>
                  <ul class="dropdown-menu" role="menu">
                        {% for status in statuses %}
                            {% if status != asset.id_status %}
                                <li><a href="?r={{ status.id }}&id={{ asset.id }}">{{ status }}</a></li>
                            {% endif %}
                        {% endfor %}
                  </ul>
                </div></td>
            <td>{{ asset.cdate }}</td>

        </tr>
        {% endfor %}

    </table>

{% endblock %}