<html>
    <head>
            <title>Печать</title>

          <style type="text/css">
               TABLE {
                border-collapse: collapse; /* Убираем двойные линии между ячейками */
               }
               TH {

                text-align: left; /* Выравнивание по левому краю */
               }
               TD {
                background: #fff; /* Цвет фона ячеек */

               }
               TH, TD {
                border: 1px solid black; /* Параметры рамки */
                padding: 4px; /* Поля вокруг текста */
               }
          </style>

    </head>
<body>

{% block count %}
    <span class="badge">{{ count_asset }}</span>
{% endblock %}
{% block content %}
    <input type="button" value="Печать" onclick="print()"></input>

    <table class="table table-hover" border="2">
        <thead>
        <tr>
            <td width="10%"><b>Номер</b></td>
            <td width="28%"><b>Актив</b></td>
            <td width="15%"><b>Примечание</b></td>
            <td width="10%"><b>Местоположение</b></td>
            <td width="12%"><b>Статус</b></td>
            <td width="35%"><b>Новое примечание</b></td>
        </tr>
        </thead>
        {% for asset in assets %}
        <tr>
            <td width="10%">{{ asset.number }}</td>
            <td width="28%">{{ asset.id_unit }}</td>
            <td width="15%">{{ asset.note }}</td>
            <td width="10%">{{ asset.id_location }}</td>
            <td width="12%"><b>{{ asset.id_status }}</b></td>
            <td width="35%"></td>
        </tr>
        {% endfor %}

    </table>

{% endblock %}

</body>
</html>